# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# executable
vad
vad_test

# cpp unit report
cppunitresults.xml

# netbeans
nbproject/

# results
result/
